.leaderboard-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: "Jersey 20", sans-serif;
  width: 100%;
}

.leaderboard-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 48%;
}

.leaderboard ol {
  list-style-type: none;
  padding: 0;
}

.leaderboard li {
  padding: 10px;
  margin: 10px 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.leaderboard li .high-score {
  display: block;
  font-size: 1rem;
  color: #666;
}

.leaderboard li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.leaderboard li:nth-child(odd) {
  background-color: #f0f0f0;
}

.leaderboard li span {
  font-weight: bold;
}

/* Styling for top 3 */
.leaderboard li:first-child {
  background-color: #ffd700;
}

.leaderboard li:nth-child(2) {
  background-color: #c0c0c0;
}

.leaderboard li:nth-child(3) {
  background-color: #cd7f32;
}
