@import url("https://fonts.googleapis.com/css2?family=Jersey+20&display=swap");

/* global CSS */
html {
  box-sizing: border-box;
  background-color: #b3ebf2;
  width: 100%;
  height: 100%;
}
button {
  background-color: #51a1a2;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e6bc4c;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #f4f4f9; */
  font-family: "Arial", sans-serif;
}

.button-row {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  gap: 20px;
}

.button-row img {
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}

.button-row button {
  background-color: #51a1a2;
  border: none;
  padding: 5px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.button-row button:hover {
  background-color: #e6bc4c;
}

.game-info {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  font-family: "Jersey 20", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.score-info {
  font-weight: bold;
  color: #333;
}

.timer-info {
  font-weight: bold;
  color: #ff6347;
}

.hi-score-info {
  font-weight: bold;
  color: #333;
}

.game {
  text-align: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  margin: 0 auto;
}

.card {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  position: relative;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.card-front {
  background-color: #fff;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 90px);
    grid-gap: 10px;
  }

  .card {
    width: 90px;
    height: 90px;
  }
}
